In [5]:
import numpy as np
countries=np.array{'Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'}
gdp=np.array{[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]}
maxi=gdp.argmax()
highestgdp=countries[maxi]
highestgdp

SyntaxError: invalid syntax (Temp/ipykernel_6176/343051046.py, line 2)

In [6]:
import numpy as np
countries=np.array{['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe']}
gdp=np.array{2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605}
maxi=gdp.argmax()
highestgdp=countries[maxi]
highestgdp

SyntaxError: invalid syntax (Temp/ipykernel_6176/3980478225.py, line 2)

In [16]:
import numpy as np
countries=(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan',
                    'Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador',
                    'Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras',
                    'Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia',
                    'Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore',
                    'South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom',
                    'United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
gdp=np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,
              1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,
              30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,
              6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,
              39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,
              40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
              39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])
maxi=gdp.argmax()
highestgdp=countries[maxi]
highestgdp
mini=gdp.argmin()
minimumgdp=countries[mini]
minimumgdp

'Ethiopia'

import numpy as np
countries=(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan',
                    'Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador',
                    'Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras',
                    'Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia',
                    'Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore',
                    'South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom',
                    'United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
gdp=np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,
              1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,
              30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,
              6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,
              39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,
              40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
              39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])
maxi=gdp.argmax()
highestgdp=countries[maxi]
highestgdp
mini=gdp.argmin()
minimumgdp=countries[mini]
minimumgdp

In [1]:
import numpy as np
countries=(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan',
                    'Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador',
                    'Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras',
                    'Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia',
                    'Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore',
                    'South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom',
                    'United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
gdp=np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,
              1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,
              30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,
              6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,
              39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,
              40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,
              39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])
maxi=gdp.argmax()
highestgdp=countries[maxi]
highestgdp
mini=gdp.argmin()
minimumgdp=countries[mini]
minimumgdp

'Ethiopia'

In [7]:
for i in countries:
    print('country name is {}'.format(i))

country name is Algeria
country name is Angola
country name is Argentina
country name is Australia
country name is Austria
country name is Bahamas
country name is Bangladesh
country name is Belarus
country name is Belgium
country name is Bhutan
country name is Brazil
country name is Bulgaria
country name is Cambodia
country name is Cameroon
country name is Chile
country name is China
country name is Colombia
country name is Cyprus
country name is Denmark
country name is El Salvador
country name is Estonia
country name is Ethiopia
country name is Fiji
country name is Finland
country name is France
country name is Georgia
country name is Ghana
country name is Grenada
country name is Guinea
country name is Haiti
country name is Honduras
country name is Hungary
country name is India
country name is Indonesia
country name is Ireland
country name is Italy
country name is Japan
country name is Kenya
country name is South Korea
country name is Liberia
country name is Malaysia
country name is Mexico
country name is Morocco
country name is Nepal
country name is New Zealand
country name is Norway
country name is Pakistan
country name is Peru
country name is Qatar
country name is Russia
country name is Singapore
country name is South Africa
country name is Spain
country name is Sweden
country name is Switzerland
country name is Thailand
country name is United Arab Emirates
country name is United Kingdom
country name is United States
country name is Uruguay
country name is Venezuela
country name is Vietnam
country name is Zimbabwe

In [8]:
for i in range(len(countries)):
    country=countries[i]
    country_gdp=gdp[i]
    print('country {} per capita gdp is {}'.format(country,country_gdp))

country Algeria per capita gdp is 2255.225482
country Angola per capita gdp is 629.9553062
country Argentina per capita gdp is 11601.63022
country Australia per capita gdp is 25306.82494
country Austria per capita gdp is 27266.40335
country Bahamas per capita gdp is 19466.99052
country Bangladesh per capita gdp is 588.3691778
country Belarus per capita gdp is 2890.345675
country Belgium per capita gdp is 24733.62696
country Bhutan per capita gdp is 1445.760002
country Brazil per capita gdp is 4803.398244
country Bulgaria per capita gdp is 2618.876037
country Cambodia per capita gdp is 590.4521124
country Cameroon per capita gdp is 665.7982328
country Chile per capita gdp is 7122.938458
country China per capita gdp is 2639.54156
country Colombia per capita gdp is 3362.4656
country Cyprus per capita gdp is 15378.16704
country Denmark per capita gdp is 30860.12808
country El Salvador per capita gdp is 2579.115607
country Estonia per capita gdp is 6525.541272
country Ethiopia per capita gdp is 229.6769525
country Fiji per capita gdp is 2242.689259
country Finland per capita gdp is 27570.4852
country France per capita gdp is 23016.84778
country Georgia per capita gdp is 1334.646773
country Ghana per capita gdp is 402.6953275
country Grenada per capita gdp is 6047.200797
country Guinea per capita gdp is 394.1156638
country Haiti per capita gdp is 385.5793827
country Honduras per capita gdp is 1414.072488
country Hungary per capita gdp is 5745.981529
country India per capita gdp is 837.7464011
country Indonesia per capita gdp is 1206.991065
country Ireland per capita gdp is 27715.52837
country Italy per capita gdp is 18937.24998
country Japan per capita gdp is 39578.07441
country Kenya per capita gdp is 478.2194906
country South Korea per capita gdp is 16684.21278
country Liberia per capita gdp is 279.2204061
country Malaysia per capita gdp is 5345.213415
country Mexico per capita gdp is 6288.25324
country Morocco per capita gdp is 1908.304416
country Nepal per capita gdp is 274.8728621
country New Zealand per capita gdp is 14646.42094
country Norway per capita gdp is 40034.85063
country Pakistan per capita gdp is 672.1547506
country Peru per capita gdp is 3359.517402
country Qatar per capita gdp is 36152.66676
country Russia per capita gdp is 3054.727742
country Singapore per capita gdp is 33529.83052
country South Africa per capita gdp is 3825.093781
country Spain per capita gdp is 15428.32098
country Sweden per capita gdp is 33630.24604
country Switzerland per capita gdp is 39170.41371
country Thailand per capita gdp is 2699.123242
country United Arab Emirates per capita gdp is 21058.43643
country United Kingdom per capita gdp is 28272.40661
country United States per capita gdp is 37691.02733
country Uruguay per capita gdp is 9581.05659
country Venezuela per capita gdp is 5671.912202
country Vietnam per capita gdp is 757.4009286
country Zimbabwe per capita gdp is 347.7456605

In [9]:
print(gdp.max())
print(gdp.min())
print(gdp.mean())
print(gdp.std())
print(gdp.sum())

40034.85063
229.6769525
11289.409271639683
12743.828910617945
711232.7841133

In [12]:
import numpy as np
country=np.array(['GBR',
'CHN',
'RUS',
'US',
'KOR',
'JPN',
'GER',
])
gold=np.array([29,38,24,46,13,7,11])
silver=np.array([17,28,25,28,8,14,11])
bronze=np.array([19,22,32,29,7,17,14])
maxgold=gold.argmax()
countrygold=country[maxgold]
print(countrygold)

US

In [14]:
print(country[gold>20])

['GBR' 'CHN' 'RUS' 'US']

In [16]:
for i in range(len(country)):
    gold_medal=gold[i]
    countries=country[i]
    total_medal=bronze[i]+gold[i]+silver[i]
    print('{},gold medal {},total medals {}'.format(countries,gold_medal,total_medal))

GBR,gold medal 29,total medals 65
CHN,gold medal 38,total medals 88
RUS,gold medal 24,total medals 81
US,gold medal 46,total medals 103
KOR,gold medal 13,total medals 28
JPN,gold medal 7,total medals 38
GER,gold medal 11,total medals 36

In [12]:
import pandas as pd
df_faa_dataset=pd.read_csv(r'C:\\Users\mayan\Desktop\faa_ai_prelim.csv')
df_faa_dataset.shape

(83, 42)

In [13]:
df_faa_dataset.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_faa_dataset.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [16]:
df_analyze_dataset=df_faa_dataset[['ACFT_MAKE_NAME','LOC_CITY_NAME','ACFT_MODEL_NAME', 'RMK_TEXT','FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]
type(df_analyze_dataset)

pandas.core.frame.DataFrame

In [18]:
df_analyze_dataset.head()

,ACFT_MAKE_NAME,LOC_CITY_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,MARSHVILLE,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,TAVERNIER,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,TRENTON,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,ASHEVILLE,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,TALKEETNA,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

In [19]:
df_analyze_dataset['FATAL_FLAG'].fillna(value='No',inplace=True)

C:\Users\mayan\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [20]:
df_analyze_dataset.shape

(83, 7)

In [22]:
import pandas as pd
read_data_raw=pd.read_csv(r'C:\Users\mayan\Documents\FDNY\FDNY\FDNY.csv')
read_data_raw.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]>

In [23]:
read_data_raw.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [24]:
read_data_raw.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [25]:
read_data_raw.count()

FacilityName       219
FacilityAddress    219
Borough            219
dtype: int64

In [26]:
read_data_raw.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [28]:
groupby_=read_data_raw.groupby('Borough')
groupby_.size()

Borough
Borough           1
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64